$dark-foreground-color: #5B5C5C;
$accent-color: #F47000;

#container {
	* {
		margin: 0;
	}
	
	#category {
		color: $accent-color;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
	}

	#title {
		font-size: 14px;
		font-weight: bold;
	}

	#caption {
		color: $dark-foreground-color;
		font-size: 12px;
		font-weight: normal;
	}
}
