$content-size: 80vh; 
$header-item-spacing: 40px;

#dialog {
	border-radius: 3px;
}

dialog-header {
	padding: 0;
	
	#header-items {
		display: flex;
		align-items: center;
		
		* {
			display: inline-block;
			
			padding-right: $header-item-spacing;
		}
		
		*:last-child {
			padding-right: 0;
		}
	}
}

#dialog-content {
	width: $content-size;
	height: $content-size;
	
	margin: 5px;
	padding: 5px;
	
	img {
		image-rendering: pixelated;
		
		min-width: 100%;
    min-height: 100%;
		max-width: 100%;
    max-height: 100%;
	}
}
