$content-size: 80vh; 

dialog-header {
	padding: 0;
	
	#header-items {
		display: flex;
		align-items: center;
		padding: 5px;
		
		* {
			display: inline-block;
			margin: 5px;
		}
	}
}

#dialog-content {
	width: $content-size;
	height: $content-size;
	
	margin: 10px;
	padding: 8px;
	
	img {
		image-rendering: pixelated;
		
		min-width: 100%;
    min-height: 100%;
		max-width: 100%;
    max-height: 100%;
	}
}
