:host {
	--image-container-width: 100%;
	
	--clip-left: 0px;
	--clip-right: 0px;
	--clip-bottom: 0px;
	--clip-end: 0px;
}

#content {
	width: 100%;
	height: 100%;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	
	paper-slider {
		z-index: 2;
		width: var(--image-container-width);
	}
}

#container {
	display: flex;
	flex-direction: row;
	
	flex: 1;
	width: 100%;
	height: 100%;
	
	#normal-images-wrapper {
		z-index: 1;
		
		clip-path: polygon(
			var(--clip-left) 0px,
			var(--clip-right) 0px,
			var(--clip-right) var(--clip-bottom),
			var(--clip-left) var(--clip-bottom)
		);
	}
	
	.image-wrapper {
		display: flex;
		justify-content: center;
		
		width: 100%;
		height: 100%;
		
		position: absolute;
		
		.image-container {
			flex: 1;
			max-width: var(--image-container-width);
			font-size: 0;
			
			.image-tile {
				image-rendering: pixelated;
				padding: 1px;
			}
		}
	}
}
