$light-foreground-color: #D4D4D5;
$medium-foreground-color: #5B5C5C;
$dark-foreground-color: #1B1C1D;

$light-background-color: #FFFFFF;
$medium-background-color: #F5F5F5;
$dark-background-color: #E0E0E0;

$accent-color: #F47000;
$secondary-accent-color: #1565C0;

$icon-background-color: #455A64;

$positive-color: #4CAF50;
$negative-color: #F44336;
