@import 'advis_plugin/dashboard/shared/style/color';

:host {
	--paper-tab-ink: $accent-color;
}

#content {
	display: flex;
	flex-direction: column;
	
	height: 100%;
	
	#header {
		display: flex;
		flex-direction: row;
		
		#predictions-button-container {
			display: flex;
			align-items: center;
			flex: 0 1 auto;
			
			#detailed-predictions-button {
				color: $light-foreground-color;
				opacity: 0.5;
				transition: opacity 0.5s ease;
				
				&:hover {
					opacity: 1;
				}
			}
		}
		
		input-image-selector {
			flex: 1;
		}
		
		distortion-selector {
			flex: 1;
		}
	}
	
	#body {
		flex: 1;
		overflow: scroll;
		
		* {
			width: 100%;
			height: 100%;
		}
	}
	
	#footer {
		paper-tabs {
			--paper-tabs-selection-bar-color: $accent-color;
			
			width: 100%;
		}
	}
}
