checkpoints/inception_v1/* filter=lfs diff=lfs merge=lfs -text
checkpoints/inception_5h/* filter=lfs diff=lfs merge=lfs -text
checkpoints/inception_v3/* filter=lfs diff=lfs merge=lfs -text
checkpoints/vgg_19/* filter=lfs diff=lfs merge=lfs -text
checkpoints/mobilenet_v1/* filter=lfs diff=lfs merge=lfs -text
checkpoints/resnet_v2/* filter=lfs diff=lfs merge=lfs -text
advis_plugin/datasets/presets/ilsvrc_2012/data/images/* filter=lfs diff=lfs merge=lfs -text
advis_plugin/distortions/presets/style_transfer/data/* filter=lfs diff=lfs merge=lfs -text
advis_plugin/dashboard/shared/libraries/**/* linguist-vendored
