@import 'advis_plugin/dashboard/shared/style/color';
@import 'advis_plugin/dashboard/shared/style/style';

$sidebar-width: 450px;

.sidebar {
	display: flex;
	flex-direction: column;
	
	min-width: $sidebar-width;
	width: $sidebar-width;
	margin-right: 0;
	
	border-right: 1px solid $light-foreground-color;
	z-index: 1;
	
	#lists {
		flex: 1;
		
		display: flex;
		flex-direction: row;
		
		border-bottom: 1px solid $light-foreground-color;
		
		#distortion-list {
			flex: 0.5;
			
			display: flex;
			flex-direction: column;
			
			border-right: 1px solid $light-foreground-color;
			
			#distortion-list-container {
				flex: 1;
				
				overflow: scroll;
				
				.list-item {
					fill: $medium-foreground-color;
					
					&.iron-selected {
						fill: $accent-color;
					}
				}
			}
		}
		
		#model-list {
			flex: 0.5;
			
			display: flex;
			flex-direction: column;
			
			#model-list-container {
				overflow: scroll;
			}
		}
	}
	
	#chart {
		height: $sidebar-width;
		
		accuracy-radar-chart {
			width: 400px;
			height: 400px;
		}
	}
}

.center {
	display: flex;
	flex-direction: column;
	
	height: 100%;
	padding: 0;
	
	overflow: hidden;
	
	background-color: white;
	
	.no-data-warning {
		max-width: 540px;
		margin: 80px auto 0 auto;
	}

	#graph-container {
		flex: 1;
		
		border-bottom: 1px solid $light-foreground-color;
	}

	#bottom-container {
		flex: 1;
		overflow: auto;
	}
}
