.center {
	padding: 0;
}

.no-data-warning {
	max-width: 540px;
	margin: 80px auto 0 auto;
}

#graph {
	height: 41vh;
}

#bottom-container {
	margin: 20px;
	
	> #layer-visualization {
		height: 45vh;
	}
}
