$dark-foreground-color: #5B5C5C;
$light-foreground-color: #D4D4D5;

#container {
	display: flex;
	align-items: center;
	
	margin: 10px;
	
	#content {
		flex: 1;
	}
	
	#close-button {
		color: $dark-foreground-color;
	}
}

#divider {
	display: block;
	height: 0;
	border: 0;
	border-top: 1px solid $light-foreground-color;
	margin: 0;
	padding: 0;
}
