@import 'advis_plugin/shared/style/text';
@import 'advis_plugin/shared/style/style';
@import 'advis_plugin/shared/style/color';

$line-spacing: 2px;

#container {
	position: relative;
	padding: 10px;
	cursor: pointer;
	
	#main {
		display: flex;
		flex-direction: row;
		align-items: center;
		
		#checkbox {
			padding-right: 3px;
			--paper-checkbox-checked-color: $accent-color;
			--paper-checkbox-unchecked-color: $medium-foreground-color;
		}
		
		#content {
			flex: 1;
			
			display: flex;
			flex-direction: column;
			
			p {
				margin-top: $line-spacing;
				margin-bottom: $line-spacing;
				
				transition: color 0.5s ease;
			}
		}
		
		#metrics {
			flex: 0;
			
			display: flex;
			flex-direction: row;
			align-items: center;
		}
	}
}
