@import 'advis_plugin/dashboard/shared/style/text';
@import 'advis_plugin/dashboard/shared/style/color';

$border-size: 1px;
$marker-width: 40px;
$caption-font-size: 12px;

:host {
	--legend-width: 0px;
	--legend-height: 0px;
}

#legend-container {
	position: absolute;
	display: flex;
	flex-direction: row;
	
	transition: opacity 0.5s ease-in-out;
	
	.content {
		position: relative;
		left: 5px;
		white-space: nowrap;
		
		display: flex;
		flex-direction: row;
		
		#gradient {
			width: var(--legend-width);
			height: var(--legend-height);
			
			box-sizing: border-box;
			border: $border-size solid $medium-foreground-color;
		}
		
		.marker-container {
			height: calc(var(--legend-height) + #{$border-size});
			width: $marker-width;
			
			* {
				position: absolute;
				width: $marker-width;
			}
		}
		
		#selected-marker {
			padding-right: 5px;
			text-align: right;
			
			#selected {
				transition: all 0.5s ease-in-out;
				
				&.visible {
					opacity: 1;
				}
				
				&.invisible {
					opacity: 0;
				}
			}
		}
		
		#range-markers {
			padding-left: 5px;
			
			#upper {
				top: 0px;
			}
			
			#lower {
				bottom: 0px;
			}
		}
	}
	
	#legend-caption {
		position: relative;
		display: inline-block;
		min-width: calc(#{$caption-font-size} + 2px);
		height: var(--legend-height);
		
		p {
			position: absolute;
			width: var(--legend-height);
			height: calc(#{$caption-font-size} + 2px);
			bottom: calc(-1 * (#{$caption-font-size} + 2px));
			overflow: hidden;
			
			transform: rotate(-90deg);
			transform-origin: top left;
			
			font-size: $caption-font-size;
			line-height: $caption-font-size;
			text-align: center;
			margin: 0;
		}
	}
	
	&.visible {
		opacity: 1;
	}
	
	&.invisible {
		opacity: 0;
	}
}

#spinner-container {
	position: absolute;
	
	.content {
		position: relative;
		white-space: nowrap;
		
		display: flex;
		flex-direction: row;
		align-items: center;
		
		paper-spinner-lite {
			width: 20px;
			height: 20px;
			
			padding-left: 10px;
			padding-right: 10px;
			
			--paper-spinner-color: $accent-color;
		}
	}
	
	transition: opacity 0.5s ease-in-out;
	
	&.visible {
		opacity: 1;
	}
	
	&.invisible {
		opacity: 0;
	}
}

.outlined {
	color: white;
	text-shadow: -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}
