@import 'advis_plugin/dashboard/shared/style/color';
@import 'advis_plugin/dashboard/shared/style/text';

$label-height: 120px;
$metric-height: 10px;
$metric-padding: calc(#{$label-height} - #{$metric-height});

:host {
	--matrix-size: 0px;
}

#content {
	width: 100%;
	height: 100%;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	
	#matrix {
		display: flex;
		flex-direction: column;
		
		.row {
			display: flex;
			flex-direction: row;
			justify-content: center;
			
			zoomable-canvas {
				width: var(--matrix-size);
				height: var(--matrix-size);
			}
			
			#predicted-labels {
				width: var(--matrix-size);
				height: $label-height;
			}
			
			#actual-labels {
				width: $label-height;
				height: var(--matrix-size);
			}
			
			#precision {
				width: var(--matrix-size);
				height: $metric-height;
				padding-top: $metric-padding;
			}
			
			#recall {
				width: $metric-height;
				height: var(--matrix-size);
				padding-left: $metric-padding;
			}
		}
	}
	
	#hovered {
		display: flex;
		flex-direction: row;
		width: var(--matrix-size);
		
		transition: opacity 0.25s ease-in-out;
		
		.label {
			flex: 0.5;
			min-width: 0;
			
			p {
				margin: 0;
			}
		}
		
		#actual {
			text-align: left;
		}
		
		#value {
			display: flex;
			align-items: center;
			
			text-align: center;
			flex: 0;
			
			padding-left: 10px;
			padding-right: 10px;
			
			.title {
				margin: 0;
				font-size: 24px;
			}
		}
		
		#predicted {
			text-align: right;
		}
		
		&.hidden {
			opacity: 0;
		}
		
		&.shown {
			opacity: 1;
		}
	}
}
