@import 'advis_plugin/shared/style/text';
@import 'advis_plugin/shared/style/color';
@import 'advis_plugin/shared/style/style';

$icon-size: 50px;
$icon-background-size: 40px;
$inner-padding: 5px;

#dropdown-button {
	padding: 0;
	width: 100%;
}

#container {
	padding: 5px;
	
	#content {
		display: flex;
		flex-direction: row;
		align-items: center;
		
		position: relative;
		
		padding: 5px;
		border: 1px solid $light-foreground-color;
		border-radius: 3px;
		
		cursor: pointer;
		
		#left {
			flex: 0;
			
			#icon {
				display: flex;
				justify-content: center;
				align-items: center;
				
				position: relative;
				
				width: $icon-size;
				height: $icon-size;
				
				* {
					position: absolute;
				}
				
				svg {
					fill: white;
				}
			}
		}
		
		#center {
			display: flex;
			flex-direction: column;
			
			flex: 1;
			
			padding-left: $inner-padding;
			padding-right: $inner-padding;
			min-width: 0;
			
			p {
				margin: 2px;
			}
		}
		
		#dropdown-icon {
			flex: 0;
		}
	}
}
