@import 'advis_plugin/dashboard/shared/style/style';
@import 'advis_plugin/dashboard/shared/style/color';

$inner-padding: 5px;

#content {
	width: 90vw;
	height: 80vh;
	
	margin: 0;
	padding: 0;
	
	.container {
		display: flex;
		flex-direction: column;
	}
	
	#matrix-container {
		width: calc(60% - 1px);
		height: 100%;
		float: left;
		
		border-right: 1px solid $light-foreground-color;
		
		confusion-matrix {
			flex: 1;
			width: 100%;
		}
	}
	
	#image-list-container {
		width: 40%;
		height: 100%;
		float: right;
		
		iron-list {
			flex: 1;
			overflow: auto;
			height: 100%;
			
			input-image-item {
				padding: $inner-padding;
			}
		}
	}
}
