@import 'advis_plugin/shared/style/color';

:host /deep/ {
  font-family: 'Roboto', sans-serif;
}

#main {
  position: absolute;
  right: 0;
  left: 0;
  height: 100%;
}

#side {
	visibility: hidden;
  position: absolute;
  left: 0;
  width: 250px;
  height: 100%;
  border: 1px solid black;
  box-sizing: border-box;
}

#all {
  position: relative;
  width: 100%;
  height: 100%;
	
	transition: opacity 0.5s ease;
	
	&.visible {
		opacity: 1;
	}
	
	&.invisible {
		opacity: 0;
	}
}

.container {
  height: 100%;
	position: relative;
	
	&.no-toolbar {
		#main {
			left: 0;
		}
		
		#side {
			display: none;
		}
	}
	
	#settings-button {
		position: absolute;
		left: 5px;
		bottom: 5px;
		
		color: $light-foreground-color;
		opacity: 0.5;
		transition: opacity 0.5s ease;
		
		&:hover {
			opacity: 1;
		}
	}
}
