@import 'advis_plugin/dashboard/shared/style/color';
@import 'advis_plugin/dashboard/shared/style/style';

#container {
	display: flex;
	align-items: center;
	
	margin: 10px;
	
	#content {
		flex: 1;
	}
	
	#close-button {
		color: $medium-foreground-color;
	}
}
