@import 'advis_plugin/shared/style/color';

#content {
	width: 100%;
	height: 100%;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	
	overflow: hidden;
	
	transition: opacity 0.5s ease;
	
	&.visible {
		opacity: 1;
	}
	
	&.invisible {
		opacity: 0;
	}
	
	paper-radio-group {
		paper-radio-button {
			--paper-radio-button-checked-color: $accent-color;
			--paper-radio-button-checked-ink-color: $accent-color;
		}
	}
}

#container {
	display: flex;
	flex-direction: row;
	
	width: 100%;
	height: 100%;
	
	.image-wrapper {
		flex: 1;
		margin: 5px;
		
		display: flex;
		justify-content: center;
		align-items: center;
		
		.activation-visualization {
			image-rendering: pixelated;
		}
	}
}
