@import 'advis_plugin/dashboard/shared/style/color';

$legend-width: 50px;

#content {
	width: 100%;
	height: 100%;
	
	display: flex;
	flex-direction: row;
	align-items: center;
	
	overflow: hidden;
	
	#legend-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: $legend-width;
		
		height: 100%;
		
		color-legend {
			cursor: pointer;
		}
	}
	
	transition: opacity 0.5s ease;
	
	&.visible {
		opacity: 1;
	}
	
	&.invisible {
		opacity: 0;
	}
}

#container {
	flex: 1;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	// width: calc(100% - #{$legend-width});
	height: 100%;
	
	// padding-left: $legend-width;
	
	.image-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		
		.activation-visualization {
			image-rendering: pixelated;
		}
	}
}
