@import 'advis_plugin/dashboard/shared/style/color';
@import 'advis_plugin/dashboard/shared/style/text';

$line-margin: 2px;

paper-card {
	width: 150px;
	height: 228px;
	
	cursor: pointer;
}

.selected-card {
	background-color: $accent-color;
	transition: background-color 0.5s ease;
	
	cursor: default;
}

.selected-text {
	color: white;
	transition: color 0.5s ease;
}

p {
	margin-top: 2px;
	margin-bottom: 2px;
}
