@import 'advis_plugin/dashboard/shared/style/color';
@import 'advis_plugin/dashboard/shared/style/style';
@import 'advis_plugin/dashboard/shared/style/text';

$header-height: 61px;

paper-dialog {
	height: 90vh;
}

dialog-header {
	padding: 0;
	height: 61px;
}

#content {
	overflow: scroll;
	
	margin: 0;
	padding: 0;
	
	width: 80vw;
	height: calc(100% - #{$header-height});
	
	#progress-container {
		display: flex;
		align-items: center;
		justify-content: center;
		
		width: 100%;
		height: 100%;
		
		#progress-content {
			display: flex;
			flex-direction: column;
			width: 50%;
			
			paper-progress {
				width: 100%;
				padding-top: 20px;
				
				--paper-progress-active-color: $accent-color;
				--paper-progress-secondary-color: transparent;
			}
		}
	}
	
	iron-list {
		width: 100%;
		height: 100%;
	}
}
