@import 'advis_plugin/dashboard/shared/style/color';
@import 'advis_plugin/dashboard/shared/style/style';
@import 'advis_plugin/dashboard/shared/style/text';

$header-height: 61px;
$toolbar-height: 60px;
$toolbar-padding: 10px;

paper-dialog {
	height: 90vh;
}

dialog-header {
	padding: 0;
	height: 61px;
}

#content {
	display: flex;
	flex-direction: column;
	
	padding: 0;
	margin: 0;
	
	width: 100%;
	height: 100%;
	
	#toolbar {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		
		width: 100%;
		height: $toolbar-height;
		
		* {
			flex: 0.5;
			
			padding-left: $toolbar-padding;
			padding-right: $toolbar-padding;
		}
		
		#description {
			text-transform: uppercase;
		}
		
		#sort-dropdown {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			
			paper-dropdown-menu {
				--paper-input-container-focus-color: $accent-color;
			}
		}
	}
	
	#list {
		overflow: scroll;
		
		margin: 0;
		padding: 0;
		
		width: 80vw;
		height: calc(100% - #{$header-height} - #{$toolbar-height});
		
		#progress-container {
			display: flex;
			align-items: center;
			justify-content: center;
			
			width: 100%;
			height: 100%;
			
			#progress-content {
				display: flex;
				flex-direction: column;
				width: 50%;
				
				paper-progress {
					width: 100%;
					padding-top: 20px;
					
					--paper-progress-active-color: $accent-color;
					--paper-progress-secondary-color: transparent;
				}
			}
		}
		
		iron-list {
			width: 100%;
			height: 100%;
		}
	}
}
