@import 'advis_plugin/dashboard/shared/style/text';
@import 'advis_plugin/dashboard/shared/style/color';

$side-padding: 5px;
$spinner-size: 20px;

#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	width: 40px;
	padding-left: $side-padding;
	padding-right: $side-padding;
	
	p {
		margin: 0;
	}
	
	paper-spinner-lite {
		width: $spinner-size;
		height: $spinner-size;
		--paper-spinner-color: $accent-color;
	}
}
