@import 'advis_plugin/dashboard/shared/style/color';
@import 'advis_plugin/dashboard/shared/style/style';

$side-width: 300px;
$image-grid-padding: 3px;

dialog-header {
	padding: 0;
}

#content {
	display: flex;
	flex-direction: row;
	
	margin: 0;
	padding: 0;
	
	height: 80vh;
	
	padding: 10px;
	
	.side {
		width: $side-width;
		padding-left: 20px;
		padding-right: 20px;
		
		#distorted-image-container {
			width: $side-width;
			height: $side-width;
			
			font-size: 0;
			line-height: 0;
			
			display: flex;
			flex-wrap: wrap;
			
			.image-grid {
				display: flex;
				
				width: 147px;
				height: 147px;
				
				&.image-grid-0 {
					padding-right: $image-grid-padding;
					padding-bottom: $image-grid-padding;
				}
				
				&.image-grid-1 {
					padding-left: $image-grid-padding;
					padding-bottom: $image-grid-padding;
				}
				
				&.image-grid-2 {
					padding-right: $image-grid-padding;
					padding-top: $image-grid-padding;
				}
				
				&.image-grid-3 {
					padding-left: $image-grid-padding;
					padding-top: $image-grid-padding;
				}
			}
			
			.single-image {
				display: flex;
				padding: 0px;
			}
		}
	}
}
