@import 'advis_plugin/dashboard/shared/style/color';
@import 'advis_plugin/dashboard/shared/style/style';

dialog-header {
	padding: 0;
}

#content {
	display: flex;
	flex-direction: row;
	
	margin: 0;
	padding: 0;
	
	width: 50vw;
	height: 80vh;
	
	padding: 10px;
	
	.side {
		flex: 0.5;
		padding-left: 20px;
		padding-right: 20px;
	}
}
