@import 'advis_plugin/shared/color';

$font-size-header: 16px;
$font-size-title: 14px;
$font-size-body: 12px;

.category {
	color: $accent-color;
	font-size: $font-size-body;
	font-weight: bold;
	text-transform: uppercase;
}

.header {
	color: $dark-foreground-color;
	font-size: $font-size-title;
	font-weight: bold;
	text-transform: uppercase;
}

.title {
	color: $dark-foreground-color;
	font-size: $font-size-title;
	font-weight: bold;
}

.caption {
	color: $medium-foreground-color;
	font-size: $font-size-body;
	font-weight: normal;
}

.number {
	font-size: $font-size-header;
	font-weight: bold;
	
	&.positive {
		color: $positive-color;
	}
	
	&.negative {
		color: $negative-color;
	}
}

.monospaced {
	font-family: monospace;
}

.single-line {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
