@import 'advis_plugin/dashboard/shared/style/text';
@import 'advis_plugin/dashboard/shared/style/style';

$text-side-padding: 15px;

#container {
	display: flex;
	align-items: center;
	
	p {
		padding-left: $text-side-padding;
		padding-right: $text-side-padding;
		text-align: center;
	}

	#background-line {
		flex: 1;
	}
}
