@import 'advis_plugin/dashboard/shared/style/style';

$content-size: 80vh;

#content {
	width: $content-size;
	height: $content-size;
	
	margin: 5px;
	padding: 5px;
	
	image-loader {
		image-rendering: pixelated;
	}
}
