@import 'advis_plugin/dashboard/shared/style/style';

$content-size: 80vh;

#content {
	width: $content-size;
	height: $content-size;
	
	margin: 5px;
	padding: 5px;
	
	img {
		image-rendering: pixelated;
		
		min-width: 100%;
    min-height: 100%;
		max-width: 100%;
    max-height: 100%;
	}
}
